{%extends 'base.html' %} 

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">E-videncija</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href={{ url_for('studenti') }}>Studenti</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for('korisnici') }}>Korisnici <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href={{ url_for('logout') }} class="btn icon">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </form>
  </div>
</nav>


  <div class="container">
      <div class="row my-5 justify-content-end">
          <a href={{ url_for('korisnik_novi') }} role="button" class="btn btn-primary" style="margin-right: 1em;">Dodaj korisnika</a>
          <a href={{ url_for('export', tip="korisnici") }} role="button" class="btn btn-success mr-3">Export</a>
      </div>

      <div class="row">
        <table class="table">
          <form action={{ url_for('korisnici') }} method="POST">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Email</th>
                <th scope="col">Rola</th>
                <th scope="col">Akcija</th>
              </tr>
            </thead>
            <input name="prethodni_order_by" value="{{ args.order_by }}" hidden />
            <input name="order_type" value="{{ order_type }}" hidden />
            <input name="page" value="{{ strana }}" hidden />
            </form>

            <tbody>
              {% for korisnik in korisnici %}
              <tr>
                <td>{{korisnik.ime}}</td>
                <td>{{korisnik.prezime}}</td>
                <td>{{korisnik.email}}</td>
                <td>{{korisnik.rola}}</td>
                <td class="row">
                    <a href={{ url_for("korisnik_izmena", id=korisnik.id) }} role="button" class="text-warning mx-1">
                        <i class="far fa-edit"></i>
                    </a>
                    <button class="icon-btn text-danger mx-1" role="button" data-toggle="modal" data-target="#deleteModal{{korisnik.id}}">
                      <i class="fas fa-trash"></i>
                    </button>
                </td>
              </tr>
              
              <div class="modal fade" id="deleteModal{{korisnik.id}}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-body">
                Sigurno želite da obrišete korisnika {{ korisnik.ime }} {{ korisnik.prezime }}?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <a href={{ url_for('korisnik_brisanje', id=korisnik.id) }} role="button"
                class="btn btn-danger">Obriši</a>
                </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
          <nav>
            <ul class="pagination justify-content-center mt-3">
            <li class="page-item {% if strana=='1' %} disabled {% endif %}">
            <a class="page-link" href="{{ prethodna_strana }}">Prethodna</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">{{ strana }}</a></li>
            <li class="page-item">
            <a class="page-link" href="{{ sledeca_strana }}">Sledeca</a>
            </li>
            </ul>
            </nav>
      </div>
  </div>
{% endblock %}