{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Studentska evidencija</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href={{ url_for('studenti') }}>Studenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ url_for('korisnici') }}>Korisnici <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href={{ url_for('logout') }} class="btn icon">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </form>
  </div>
</nav>

  <div class="container">
  
    <form action={{ url_for('student_novi') }} id="student_novi" class="col-lg-6" method="POST" style="padding: 2rem;">
      <div class="form-column">
      <h3 style="margin: 0 0 2rem 0.5rem;">Novi student</h3>
        <div class="col-md-6 mb-3">
          <label for="validationDefault01">Broj indeksa</label>
          <input type="text" name="broj_indeksa" class="form-control" id="validationDefault01" placeholder="Unesite svoj broj indeksa..." required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationDefault02">Ime</label>
          <input type="text" name="ime" class="form-control" id="validationDefault02" placeholder="Unesite svoje ime..." required>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault01">Ime roditelja</label>
        <input type="text" name="ime_roditelja" class="form-control" id="validationDefault01" placeholder="Unesite ime roditelja..." required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault01">Prezime</label>
        <input type="text" name="prezime" class="form-control" id="validationDefault01" placeholder="Unesite svoje prezime..." required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault01">Datum rodjenja</label>
        <input type="date" name="datum_rodjenja" class="form-control" id="validationDefault01" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault01">JMBG</label>
        <input type="number" name="jmbg" class="form-control" id="validationDefault01" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault01">Ukupno ESPB</label>
        <input type="number" name="espb" class="form-control" id="validationDefault01" required>
      </div>
      <div>
        <div class="col-md-6 mb-3">
          <label for="validationDefault03">E-Mail</label>
          <input type="email" name="email" class="form-control" id="validationDefault03" placeholder="email@example.com" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationDefault04">Broj telefona</label>
          <input type="number" name="broj_telefona" id="validationDefault01" class="form-control" required />
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationDefault01">Godina studija</label>
            <input type="number" name="godina_studija" class="form-control" id="validationDefault01" required>
          </div>
      </div>
      <!-- student_novi -->
      <div class="col-md-6 mb-3">
        <label for="slika">
        <img id="slika_pregled" src="/static/img/placeholder.png" />
        </label>
        <label for="slika" class="btn btn-primary">Odaberi sliku</label>
        <input type="file" name="slika" accept="image/*" class="custom-file-input" hidden id="slika" name="slika">
        </div>
      <input class="btn btn-primary" type="submit" role="button" value="Sačuvaj" style="margin: 3rem 1rem;">
    </form>
  </div>

{% endblock %}